* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Helvetica, Arial, sans-serif;
  color: darkslateblue;
}

h1 {
  font-size: 600%;
}

h2 {
  color: firebrick;
}

img {
  width: 100%;
  height: auto;
}

.caption {
  color: chocolate;
  font-size: small;
}

a:link {
  color: darkcyan;
}

a:visited {
  color: crimson;
}

a:hover {
  color: darkblue;
}

a:active {
  color: chartreuse;
}

footer a:hover {
text-decoration: none;
}

figure {
  text-align: center;
}

h2 em {
  color: teal;
}

p {
  text-align: center;
}


/*No touch*/
h1, h2, nav, .cap, footer {
  text-align: center;
}

nav {
  padding: 1rem 0 2rem 0;
}

figure, h2, footer {
  padding-bottom: 1rem;
}

section {
  padding: 2rem 0;
}

p{
  margin: 0 10vw;
}